/* Navigation */
header {
    background: rgba(0, 31, 84, 0.9);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    transition: background 0.3s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
}

.logo span {
    color: #1282A2;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #FEFCFB;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: #1282A2;
}
